<center><b><h1>Assignment 3<h1></b></center>
<b>Student Name  &nbsp&nbsp&nbsp&nbsp: &nbsp</b>PRAVIN KUMAR S<br>
<b>Student Roll No  &nbsp&nbsp: &nbsp</b>737819CSR144

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

**What is 7 to the power of 4?**

In [2]:
7**4

2401

**Split this string:**

    s = "Hi there Sam!"
    
**into a list.**

In [3]:
s = "Hi there Sam!"

In [4]:
s.split()

['Hi', 'there', 'Sam!']

**Given the variables:**

    planet = "Earth"
    diameter = 12742

**Use .format() to print the following string:**

    The diameter of Earth is 12742 kilometers.

In [5]:
planet = "Earth"
diameter = 12742

In [6]:
print("The diameter of {} is {} kilometers".format(planet,diameter))

The diameter of Earth is 12742 kilometers

**Given this nested list, use indexing to grab the word "hello"**

In [7]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [8]:
lst[3][1][2]

['hello']

**Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky**

In [10]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [24]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

**What is the main difference between a tuple and a list?**

In [11]:
print("List is mutable but Tuple is immutable")

List is mutable but Tuple is immutable

**Create a function that grabs the email website domain from a string in the form:**

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [12]:
def userDomain(mail):
  domain = mail.split('@',1)[1]
  return domain

In [13]:
userDomain("user@domain.com")

'domain.com'

**Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.**

In [14]:
def includesDog(inputString):
  return "dog" in inputString

In [22]:
s = input("Enter a string to test: ")
includesDog(s)

Enter a string to test: I Love dog

True

**Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.**

In [15]:
def countOfDog(inputString):
  return inputString.count('dog')

In [23]:
s = input("Enter a string to count: ")
countOfDog(s)

Enter a string to count: I have a dog. dog name is charlie

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases.**

In [16]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [17]:
caught_speeding(144,False)

'Big Ticket'

In [18]:
caught_speeding(80,False)

'Small Ticket'

**Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.**

In [19]:
empSalary = [25000, 50000, 75000, 100000, 125000, 150000]
totalSalary = 0
for salary in empSalary:
  totalSalary += salary
print(totalSalary)

525000

**Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.**

In [20]:
def mergeDict(d1,d2):
  details = {**d1, **d2}
  return details

In [21]:
employee = {
    "Empid" : 144,
    "Empname" : "Pravin Kumar",
    "Basicpay" : 575000
}
department = {
    "DeptName": "Developer",
    "DeptId" : "CSE144"
}

empDetails = mergeDict(employee,department)
print(empDetails)

{'Empid': 144, 'Empname': 'Pravin Kumar', 'Basicpay': 575000, 'DeptName': 'Developer', 'DeptId': 'CSE144'}